/*
 * Custom Branding Styles for the Theme
 */

/* =Global
----------------------------------------------- */

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin: 1.25em 0;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
	*overflow: visible;  /* Corrects inner spacing displayed oddly in IE6/7 */
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Links */
a {
	color: $primary-color;
        transition: color 400ms;
}
a:visited {
	color: $primary-color;
}
a:hover,
a:focus,
a:active {
	color: lighten($primary-color, 20%);
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
        margin-left: 1px;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
        margin-right: 1px;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

/* Small Headings */
@media only screen and (max-width: 768px) {
    h1 { font-size: remCalc(22px); }
    h2 { font-size: remCalc(20px); }
    h3 { font-size: remCalc(18px); }
    h4 { font-size: remCalc(16px); }
    h5 { font-size: remCalc(14px); }
    h6 { font-size: remCalc(12px); }
}

/* =Layout - Position
----------------------------------------------- */
#wrapper {
        
}
.site {
        
}
.site-content {
	
}
#content {
	margin: 0;
}
#primary { /* Content Area */
        
}
body.woocommerce #content {
        
}
#secondary { /* Sidebar 1 */
	
}
#tertiary { /* Sidebar 2 */
	
}

/* =Layout - Appearance
----------------------------------------------- */
.site {
        background: #f7f7f7;
}
.site-main {
        
}
#primary {
        background: #fff;
        //margin-top: emCalc(-80px);
}
.site-content {
        padding: emCalc(20px) 0;
        //overflow: auto;
}
#secondary {
        
}

@media only screen and (min-width: 768px) {
    
    #primary {
        margin-top: emCalc(-40px);
        margin-bottom: emCalc(20px);
        border: 1px solid #eee;
    }
    
}

/* =Header
----------------------------------------------- */
.header-area {
        background: $primary-color url('../imgs/header-bg-small.png') top center no-repeat;
}
@media only screen and (min-width: 768px) {
    
    .header-area {
        background: $primary-color url('../imgs/header-bg.png') bottom center no-repeat;
    }
    .site-branding {
        margin-bottom: emCalc(60px);
    }
    
}
.site-header {
        
}
.site-branding {
        margin-top: remCalc(10px);
}
.site-branding .site-title {
        background: url('../imgs/pb-logo.png') top left no-repeat;
        min-height: 55px;
        min-width: 52px;
}
.site-branding .site-title a {
        float: left;
        margin-top: emCalc(10px);
        margin-left: emCalc(40px);
        font-weight: normal;
        transiton: all 400ms;
        color: #fff;
}
.site-branding .site-title a:hover {
        color: lighten($primary-color, 30%);
}
.site-branding .site-description {
        color: lighten($primary-color, 30%);
        font-size: remCalc(18px);
        font-weight: normal;
}
@media only screen and (max-width: 768px) {
    
    .site-branding {
        margin-top: remCalc(20px);
        margin-bottom: remCalc(20px);
    }
    .site-branding .site-title a {
        font-size: remCalc(20px);
        margin-top: 18px;
        margin-left: 60px;
    }
    
    .site-branding .site-description {
        font-size: remCalc(16px);
    }
    
}

/* =Footer
----------------------------------------------- */

.footer-area {
        background-color: $primary-color;
        overflow: hidden;
}
.site-footer {
        padding-top: emCalc(20px);
        color: rgba(255, 255, 255, 0.6);
}
.site-footer .widget-area .widget-title {
        color: lighten($primary-color, 30%);
        border-bottom: none;
        padding-bottom: 0;
}
.site-footer .widget-area a {
        color: lighten($primary-color, 45%);
        text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
        transition: all 400ms;
}
.site-footer .widget-area a:hover {
        color: #fff;
}
.site-footer .widget-area .menu a:hover {
        color: #fff;
        padding-left: emCalc(10px);
}
.site-info {
        text-align: center;
        width: 100%;
        float: left;
        padding: 10px 0;
        background: rgba(0, 0, 0, 0.3);
        color: lighten($primary-color, 0%);
        font-size: remCalc(14px);
}
.site-info a {
        color: lighten($primary-color, 20%);
}
.site-info a:hover,
.site-info a:active,
.site-info a:focus {
        color: lighten($primary-color, 40%);
}

/* =Menu
----------------------------------------------- */

.navigation-main {
        
}
@media only screen and (min-width: 768px) {
    
    .navigation-main {
        margin-top: emCalc(50px);
    }
    
}

ul.menu {
        
}
.navigation-main ul {
        list-style: none;
        margin: 0;
        background: rgba(0, 0, 0, 0.2);
        width: auto;
        display: inline-block;
        padding: 0;
}
.navigation-main li {
        float: left;
        position: relative;
}
.navigation-main li:last-of-type {
        margin-right: 0;
}
.navigation-main a {
        display: block;
        text-decoration: none;
        color: #fff;
        padding: emCalc(4px) emCalc(20px);
        transition: background 400ms;
}
.navigation-main a:hover {
        background: rgba(0, 0, 0, 0.4);
}
.navigation-main ul ul {
        background: lighten($primary-color, 10%);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
        display: none;
        float: left;
        position: absolute;
        top: 1.6em;
        left: 0;
        z-index: 99999;
}
.navigation-main ul ul ul {
        left: 100%;
        top: 0;
}
.navigation-main ul ul a {
        width: 200px;
}
.navigation-main ul ul li {
}
.navigation-main li:hover > a {
}
.navigation-main ul ul :hover > a {
}
.navigation-main ul ul a:hover {
}
.navigation-main ul li:hover > ul {
        display: block;
}
.navigation-main li.current_page_item a,
.navigation-main li.current-menu-item a {
}

/* Small menu */
.menu-toggle {
        display: none;
        cursor: pointer;
        font-weight: normal;
}
.main-small-navigation {
        
}
.main-small-navigation ul {
        display: none;
}
.main-small-navigation li {
        border-top: 1px solid lighten($small-menu-color,5%);
        border-bottom: 1px solid darken($small-menu-color, 5%);
}
.main-small-navigation a {
        display: block;
        padding: remCalc(3px) 0 remCalc(1px) remCalc(5px);
        color: #fff;
        font-family: 'Open Sans', Arial;
}
.main-small-navigation li:hover {
        background: darken($small-menu-color, 5%);
}

@media only screen and (max-width: $small-screen) {
    
    .menu-toggle,
    .main-small-navigation ul.nav-menu.toggled-on {
        display: block;
    }
    .navigation-main ul {
        display: none;
    }
    .row .site-navigation {
        background: $small-menu-color;
        padding: 0;
    }
    .site-navigation h1 {
        font-size: remCalc(20px);
        padding: 4px 10px 0px 10px;
        color: #fff;
    }
    .site-navigation ul {
        margin: 0;
    }
    nav.top-bar {
        margin-bottom: 0;
    }
    .main-small-navigation .menu-item a {
        font-size: remCalc(18px);
        padding: 4px 10px 4px 10px;
    }
    
}

/* Top Bar Compatibility */

.top-bar-section .dropdown li a {
        line-height: 1em;
        height: auto;
}
.top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
        margin-top: -17px;
}

/* Inline Footer Credits Menu */

ul.inline-list {
        display: inline-block;
        margin: 0 0 remCalc(5px) 0;
}

/* =Blog
----------------------------------------------- */

.page-title .vcard {
        border: none;
        padding: 0;
        margin: 0;
}
body.blog article.type-post,
body.archive article.type-post {
        padding-bottom: remCalc(20px);
        border-bottom: 1px solid #ddd;
        position: static;
}
#primary {
        overflow: hidden;
}
article .vcard {
        border: none;
        display: inline;
        padding: 0;
        margin: 0;
}
article .vcard a.fn {
        font-weight: normal;
        font-size: 1em;
}
.page-title {
        margin-top: -10px;
        margin-bottom: emCalc(20px);
}
article .entry-title {
        margin-top: -10px;
}
footer.entry-meta {
        padding-top: remCalc(10px);
}
.entry-content .page-links {
}
.entry-content .page-links a {
}
article.post {
        width: 100%;
}
article .nav-below {
        
}
article .entry-header {
        margin-bottom: emCalc(20px);
}
article .entry-meta {
        font-size: remCalc(14px);
}
article .entry-meta i {
        margin-right: emCalc(2px);
        color: #777;
}
article .entry-meta > span,
article .entry-meta .byline {
        margin-left: emCalc(10px);
}
article img[class*='wp-image-'] {
        border: 4px solid #fff;
        box-shadow: 0px 0px 0px 1px #ccc;
}
article .wp-caption {
        border: none;
        font-style: italic;
        color: #999;
}
#commentform {
        margin-bottom: 0;
}
.form-allowed-tags {
        font-size: remCalc(14px);
}
.form-allowed-tags code {
        font-size: remCalc(12px);
}
.form-submit {
        margin-bottom: 0;
}
.form-submit #submit {
        background: $primary-color;
        color: #fff;
        padding: emCalc(4px) emCalc(10px);
        border: none;
        cursor: pointer;
        transition: background 400ms;
}
.form-submit #submit:hover {
        background: lighten($primary-color, 10%);
}

blockquote {
	margin: 1.4em;
        border-left: 4px solid lighten($primary-color, 20%);
}
blockquote.left {
	max-width: 40%;
        float: left;
        border-left: none;
        border-right: 4px solid lighten($primary-color, 20%);
        margin-left: 0;
}
blockquote.right {
	max-width: 40%;
        float: right;
        margin-right: 0;
}
blockquote p {
	margin: 0;
}
blockquote cite {
        margin-top: 5px;
	text-align: right;
}
blockquote cite a {
        color: darken($primary-color, 20%);
}
blockquote cite a:hover {
        color: lighten($primary-color, 10%);
}

/* =Social Share Links
----------------------------------------------- */

.site-content .share-links {
        padding: emCalc(10px) emCalc(10px) 0 emCalc(10px);
        border: 1px solid #ddd;
        margin-left: 0;
        margin-bottom: emCalc(10px);
}
.share-links li {
        display: inline-block;
        margin-right: emCalc(10px);
        margin-bottom: emCalc(10px);
}
.share-links li:last-of-type {
        margin-right: 0;
}
.share-links a {
        padding: emCalc(4px) emCalc(10px);
        color: #fff;
}
.share-links a.twitter {
        background: $twitter;
}
.share-links a.twitter:hover,
.share-links a.twitter:active,
.share-links a.twitter:focus {
        background: darken($twitter, 10%);
}
.share-links a.facebook {
        background: $facebook;
}
.share-links a.facebook:hover,
.share-links a.facebook:active,
.share-links a.facebook:focus {
        background: darken($facebook, 10%);
}
.share-links a.googleplus {
        background: $googleplus;
}
.share-links a.googleplus:hover,
.share-links a.googleplus:active,
.share-links a.googleplus:focus {
        background: darken($googleplus, 15%);
}
.share-links a.linkedin {
        background: $linkedin;
}
.share-links a.linkedin:hover,
.share-links a.linkedin:active,
.share-links a.linkedin:focus {
        background: darken($linkedin, 10%);
}
.share-links a.pinterest {
        background: $pinterest;
}
.share-links a.pinterest:hover,
.share-links a.pinterest:active,
.share-links a.pinterest:focus {
        background: darken($pinterest, 10%);
}
.share-links a i {
        margin-right: emCalc(5px);
        color: #fff;
}

/* =Author Archive Page
----------------------------------------------- */

.archive-header {
        margin-top: emCalc(-10px);
        margin-bottom: emCalc(20px);
}
.archive-title .vcard {
        border: none;
        display: inline;
        padding: 0;
        margin: 0;
}

/* =Contact Form
----------------------------------------------- */

#form_fwftq9 label {
        font-size: remCalc(16px);
        margin-bottom: emCalc(5px);
}

/* =Search Form
----------------------------------------------- */

form.searchform {
        overflow: hidden;
        border: 1px solid #ccc;
        margin-bottom: 0;
}
.searchform .field {
        border: none;
        margin-bottom: 0;
}
.searchform .submit {
        display: none;
        text-indent: -9999px;
}

/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
        float: left;
}
.entry-meta {
	clear: both;
}
.byline {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
article,
.entry-content,
.entry-summary {
	margin: 0;
        width: 100%;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Home Page
----------------------------------------------- */

.introduction {
        margin-bottom: emCalc(40px);
}
img.profile {
        float: left;
        width: 100px;
        margin-right: 20px;
        border: 4px solid #fff;
        box-shadow: 0px 0px 1px #ccc;
}
.boxes {
        
}
.boxes li .box {
        display: block;
        overflow: hidden;
        padding: emCalc(20px);
        transition: all 400ms;
}
.boxes li.about .box {
        background: #fc9c41 url('../imgs/header-bg-small.png') center center no-repeat;
}
.boxes li.blog .box {
        background: #0aa5d4 url('../imgs/header-bg-small.png') center center no-repeat;
}
.boxes li.kebo .box {
        background: #ff6565 url('../imgs/header-bg-small.png') center center no-repeat;
}
.boxes li.projects .box {
        background: #54c159 url('../imgs/header-bg-small.png') center center no-repeat;
}
.boxes li .box:hover {
        box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.4);
}
.boxes li i {
        font-size: remCalc(60px);
        width: 60px;
        height: 60px;
        margin-right: 10px;
        margin-bottom: 5px;
        color: #fff;
        float: left;
}
.boxes li .title {
        color: #fff;
        clear: none;
}
.boxes li p {
        color: rgba(0, 0, 0, 0.5);
}

/* =General
----------------------------------------------- */

textarea {
        width: 100%;
        min-height: emCalc(120px);
        padding: 0.5em;
}
button#submit,
input#submit {
        background: $primary-color;
        color: #fff;
        border: none;
        padding: emCalc(4px) emCalc(10px);
        font-weight: normal;
        box-shadow: none;
}
button#submit:hover,
input#submit:hover {
        background: lighten($primary-color, 20%);
}

/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* =Custom Elements
----------------------------------------------- */

pre {
        font-size: remCalc(14px);
}
.label a {
        color: #fff;
}
.label a:hover {
        text-decoration: underline;
}

/* =Media
----------------------------------------------- */

.site-header img,
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
.site-header img,
.entry-content img,
img[class*="align"],
img[class*="wp-image-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.site-header img,
.entry-content img,
img.size-full {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	max-width: 100%;
}
.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright {
	margin-bottom: 1.5em;
}
.wp-caption img {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-content .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-content .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-content .gallery dd {
	margin: 0;
}
.site-content .gallery-columns-4 .gallery-item {
}
.site-content .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.site-content .site-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.site-content .nav-previous {
	float: left;
	width: 50%;
}
.site-content .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
.navigation-post {
        padding-bottom: remCalc(10px);
}
.navigation-post .prev {
        text-align: left;
}
.navigation-post .next {
        text-align: right;
}

/* =Pagination
----------------------------------------------- */
.pagination ul {
        text-align: center;
        margin: 0;
}
.pagination ul li {
        display: inline;
}
.pagination a.page-numbers,
.pagination span.page-numbers {
        display: inline;
        padding: remCalc(3px) remCalc(7px);
        background: #fff;
        color: #999;
}
.pagination a.page-numbers:hover,
.pagination span.page-numbers:hover {
        background: #eee;
}
.pagination .page-numbers.current {
        color: #fff;
        font-weight: bold;
        background: $primary-color;
}
.pagination .page-numbers.current:hover {
        background: $primary-color;
        cursor: default;
}

.page-links {
        text-align: center;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: remCalc(5px) 0;
}

/* =Comments
----------------------------------------------- */

ol.comment-list {
        margin-left: 1.5em;
        list-style: none;
}
ol.comment-list article.comment {
        padding: remCalc(10px) 0;
        list-style: none;
        border-top: 1px solid #ddd;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
}
ol.comment-list li.comment {
        list-style: none;
        background: none;
        padding: 0;
}
ol.comment-list ul.children {
        margin-left: 0;
        padding-left: remCalc(40px);
}
article.comment .comment-meta {
        display: block;
}
article.comment .comment-meta img {
        float: left;
        margin-right: remCalc(10px);
}
article.comment .comment-meta .comment-author {
        font-size: remCalc(14px);
        font-style: normal;
        float: none;
        margin-right: remCalc(10px);
}
article.comment .comment-meta time {
        margin-right: remCalc(10px);
}
article.comment .comment-meta a.comment-id {
        float: right;
}
article.comment .reply {
        float: right;
}
.comment-form-comment textarea {
        width: 100%;
        min-height: 80px;
}
.comment-content > :first-child {
        margin-top: 0;
}
.comment-content > :last-child {
        margin-bottom: 0;
}

/* =Widgets
----------------------------------------------- */

#secondary .widget {
        background: #fff;
        margin-top: emCalc(20px);
        padding: emCalc(20px);
        border: 1px solid #eee;
}
.widget {
	margin: 0 0 1.5em;
}
.widget-title {
        font-size: 1.2em;
        margin-top: 0;
        border-bottom: 4px solid #eee;
        padding-bottom: emCalc(4px);
}
.widget ul {
	list-style: none;
        margin-left: 0;
        margin-bottom: 0;
}

.widget.widget_recent_entries ul li,
.widget.widget_categories ul li {
        transition: padding 400ms;
}
.widget.widget_recent_entries ul li:hover,
.widget.widget_categories ul li:hover {
        padding-left: emCalc(10px);
}

/* Calendar widget */
aside.widget_calendar th,
aside.widget_calendar td {
        text-align: center;
}
aside.widget_calendar thead {
        border-top: 1px solid #bbb;
        border-left: 1px solid #bbb;
        border-right: 1px solid #bbb;
}
aside.widget_calendar tfoot {
        border: 1px solid #bbb;
}
aside.widget_calendar tbody {
        border-left: 1px solid #bbb;
        border-right: 1px solid #bbb;
}
aside.widget_calendar tr {
        border-top: 1px solid #bbb;
}
aside.widget_calendar td {
        border-right: 1px solid #bbb;
}
aside.social-widget ul li {
        display: inline-block;
        margin-right: emCalc(20px);
}
aside.social-widget ul li:last-of-type {
        margin-right: 0;
}
aside.social-widget i {
        font-size: remCalc(40px);
        color: darken($primary-color, 10%);
        transition: all 400ms;
        text-shadow: -1px -1px darken($primary-color, 15%), 1px 1px lighten($primary-color, 5%);
}
aside.social-widget i:hover {
        color: lighten($primary-color, 20%);
        text-shadow: -1px -1px darken($primary-color, 5%), 1px 1px lighten($primary-color, 25%);
}

/* =Formatting
----------------------------------------------- */

a,
a:link {
        
}
a:hover,
a:active {
        
}

#main .site-content .page-title,
#main .site-content .entry-title {
        border: none;
}

.site-content ol,
.site-content ul {
        list-style-position: inside;
        margin-left: emCalc(20px);
}
.site-content ul[class*="block-grid-"] {
        margin: 0 -0.625em;
}
.site-content ol {
        
}
.site-content ul {
        list-style-type: none; 
}

/* =Screen Reader Compatability
----------------------------------------------- */

.screen-reader-text {
        display: none;
}